body {
    background-color: #666666;
    color:  #000000;
    width: 1000px;
    margin: 0 auto;
}

h2 {
    margin-top: 80px;
    text-align: center;
}

.box {
    position: relative;
    width: 75%;
    background-color: #abc5b7;
    color: #5e4746;
    height: 400px;
    margin: 20px 100px;
    box-shadow: 0 0 10px #3a3939;
    display: flex;
    justify-content: space-evenly;    
}

.playerOne, .playerTwo {
    flex-basis: 50%;
    background-color: #6cfdb2ec;
}

.playerTwo {
    background-color: #a5f5cb;
}

.score-box {
    height: 100px;
    width: 100px;
    margin: 50px auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative;
}
.score-label {
    position: absolute;
    width: 100%;
    margin-top: 0;
    top: -20px;
}
#score-num-one, #score-num-two {
    line-height: 100px;
    font-size: 3em;
}

#dice{
    position: absolute;
    top: 150px;
}
#dice img{
    height: 100px;
}

#player-one-roll, #player-two-roll, #player-one-hold, #player-two-hold {
    position: absolute;
    top: 225px;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #0bd43d;
    border: 0;
    padding: 0;
}
#player-one-hold, #player-two-hold {
    position: absolute;
    top: 280px;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #af7406;
    border: 0;
    padding: 0;
}

#player-one-roll, #player-one-hold {
    left: 138px;
}
#player-two-roll, #player-two-hold {
    left: 513px;
}

.button-roll-hold a {
    display: block;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    color: #000000;
}
